li.exit
{
    right: 0px;
    position: fixed;
}
.btnclientorder
{
    float: right;
    margin-right: 10px;
}
.tabletr
{
    text-align: left;
    padding: 5px;
    margin: 1px;
    height: 50px;
    padding: 5px;
}
.rightitems
{
    float: left;
}
.tabletr:nth-child(odd)
{
    background: #ededed;
}
.tabletr
{
    border: 1px solid #cfcfcf;
}
.tabletr:hover
{
    background: #c6e6f8;
}
.catelm
{
}
.dropcategory
{
    margin-bottom: 25px;
}
.mynews
{
    width: 626px;
}
.catget
{
    margin: 20px;
    margin-top: -10px;
}
.botnclientorder
{
    text-align: right;
}
.midl
{
}
.tabletr
{
    width: 626px;
    display: table;
}
.midtext
{
    display: table-cell;
    vertical-align: middle;
}
.clientdname
{
    padding-left: 20px;
}
.botnclientorder
{
    padding-right: 10px;
}
.clientdcat
{
    text-align: right;
    font-weight: bold;
    width: 150px;
}
.botnclientorder
{
    width: 115px;
}

.Luxury
{
    color: #54b4eb;
}
.Dating
{
    color: #88c149;
}
.Personal
{
    color: #ff6707;
}
.clientdname
{
    width: 55px;
}
.clientdname
{
    width: 270px;
}
.clientdcity
{
    margin-right: 10px;
}
.btnlogin
{
    margin: 10px;
}
.dropmanager
{
    width: inherit;
}
.ticket
{
    width: 400px;
    text-align: left;
    margin: 10px;
}
.nickname
{
    color: dodgerblue;
    font-weight: bold;
    top: 14px;
    position: inherit;
    float: right;
}
.adminticketuri
{
    text-decoration: none;
}
.adminticketuri:hover
{
   text-decoration: none; 
}
.formmess
{
    text-align: center;
    display: inline-block;
}
.textchatwraper
{
    width: 400px;
    display: inline-block;
}
.btnsendmess
{
    margin-top: 10px;
}
#message
{
    resize: none;
}
#messages
{
    margin: 0px;
    margin-bottom: 10px;
}
.messages
{
    margin: 5px;
}

#messages
{
    background: rgb(230, 230, 230);
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    width: 400px;
    display: inline-block;
    text-align: left;
}
.adminmessage
{
    background: #ededed;
    
}
.clientmessage
{
    background: white;
    
}
.usernameedit
{
    width: 75px;
}
.LeftOption
{
    float: left;
    text-align: left;
    padding: 10px;
    margin: 10px;
    margin-left: 48px;
}
.leftmodal
{
    text-align: left;
}
.textsizedrop
{
    width: 150px;
}
.dropclientname {
    font-weight: bold;
    font-size: 15px;
}
.amountclient
{
    font-weight: bold;
}
.orderclientmyacc
{
    width: 626px;
    padding: 10px 40px;
    margin: 5px;
    text-align: left;
    display: inline-block;
}